.App{
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: yellow;

}

.title{
  font-size: 10rem;
}

.mousep{

  font-size: 1rem;
  color: gray;

}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius:  50%;
  position: fixed;  
  top:0;
  left: 0;
  pointer-events: none;
}